.gj-nav {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: white !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.03);
  padding: 16px 0; }
  .gj-nav .gj-logo-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3; }
    .gj-nav .gj-logo-wrap .logo {
      width: 40px;
      height: 40px;
      margin-right: 8px; }
      .gj-nav .gj-logo-wrap .logo img {
        width: 100%; }
    .gj-nav .gj-logo-wrap p {
      font-size: 28px;
      line-height: 40px;
      margin-bottom: 0;
      font-weight: bold;
      color: #084887; }
  .gj-nav li {
    margin-right: 4px; }
  .gj-nav a {
    font-weight: bold;
    color: #084887 !important;
    border-radius: 3px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    letter-spacing: .5px;
    border: 1px solid transparent; }
    .gj-nav a:hover {
      width: 100%;
      background-color: #084887;
      color: white !important; }

@media (max-width: 768px) {
  button {
    position: absolute;
    top: 16px;
    right: 16px; } }

@media (max-width: 576px) {
  .menu-wrap li {
    text-align: center; } }

* {
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI","Roboto","Ubuntu","Droid Sans","Ariel","Helvetica Neue","sans-serif"; }

.main-section h1 {
  text-align: right;
  font-size: 48px;
  color: #084887;
  font-weight: bold;
  margin-top: 16px;
  letter-spacing: 1px;
  text-shadow: 0 4px 20px rgba(0, 0, 0, 0.05); }

.main-section h2 {
  text-align: right;
  font-weight: 400;
  font-size: 32px;
  color: #084887;
  text-shadow: 0 4px 20px rgba(0, 0, 0, 0.05); }

.section-2 {
  height: 800px; }
  .section-2 .find-job-title h3, .section-2 .find-helper-title h3 {
    font-size: 36px;
    color: white;
    margin-bottom: 20px;
    text-shadow: 0 2px 16px rgba(0, 0, 0, 0.15); }
  .section-2 .find-job-title a, .section-2 .find-helper-title a {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 30px;
    background-color: #084887;
    -webkit-box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .section-2 .find-job-title a:hover, .section-2 .find-helper-title a:hover {
      background-color: #042e67; }
    .section-2 .find-job-title a p, .section-2 .find-helper-title a p {
      font-size: 16px;
      color: white;
      display: inline-block;
      margin-bottom: 0;
      margin-right: 8px; }
    .section-2 .find-job-title a i, .section-2 .find-helper-title a i {
      color: white;
      font-size: 20px; }

.apply-section .apply-content-warp .apply-icon {
  height: 60px;
  width: 60px; }
  .apply-section .apply-content-warp .apply-icon img {
    width: 100%; }

.apply-section .apply-content-warp h3 {
  font-size: 32px;
  color: #ff9519;
  line-height: 40px; }

.apply-section .apply-content-warp p {
  font-size: 20px;
  margin-bottom: 0;
  line-height: 32px;
  font-weight: 500;
  color: #444; }

.review-section .review-content-warp .apply-icon {
  height: 60px;
  width: 60px; }
  .review-section .review-content-warp .apply-icon img {
    width: 100%; }

.review-section .review-content-warp h3 {
  font-size: 32px;
  color: #084887;
  line-height: 40px; }

.review-section .review-content-warp p {
  font-size: 20px;
  margin-bottom: 0;
  line-height: 32px;
  font-weight: 500;
  color: #444; }

body {
  background-color: rgba(0, 0, 0, 0.02); }

.padding-board-160 {
  padding-top: 160px;
  padding-bottom: 160px; }

.padding-board-48 {
  padding-top: 48px;
  padding-bottom: 48px; }

.main-section .section-1-people {
  position: relative;
  top: 0;
  z-index: -1; }
  .main-section .section-1-people .boss-man {
    width: 202px;
    height: 373px;
    position: absolute;
    top: 108px;
    right: 90px;
    z-index: 4; }
    .main-section .section-1-people .boss-man img {
      width: 100%; }
  .main-section .section-1-people .boss-women {
    width: 176px;
    height: 323px;
    position: absolute;
    top: 157px;
    right: -28px;
    z-index: 3; }
    .main-section .section-1-people .boss-women img {
      width: 100%; }
  .main-section .section-1-people .people {
    width: 721px;
    height: 521px;
    position: absolute;
    left: 130px;
    top: 10px;
    z-index: 2; }
    .main-section .section-1-people .people img {
      width: 90%; }
  .main-section .section-1-people .bg-orange {
    width: 751px;
    height: 533px;
    position: absolute;
    top: 0;
    z-index: 1; }
    .main-section .section-1-people .bg-orange img {
      width: 90%; }

.main-section .section-1-content {
  margin-top: 80px;
  position: relative;
  z-index: 5; }

.main-section .cta-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .main-section .cta-wrap .cta-box {
    width: 200px;
    height: 60px;
    margin-left: 16px;
    margin-top: 48px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .main-section .cta-wrap .cta-box img {
      width: 100%;
      -webkit-box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
              box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
      border-radius: 28px; }
    .main-section .cta-wrap .cta-box:hover {
      -webkit-transform: translateY(-5px);
          -ms-transform: translateY(-5px);
              transform: translateY(-5px);
      opacity: .8; }

.main-section .arrow-indicator {
  position: absolute;
  bottom: 50px;
  right: 0;
  left: 0; }

.section-2 .find-job-wrap {
  position: relative; }
  .section-2 .find-job-wrap .find-job-title {
    position: absolute;
    top: 40px;
    left: 148px;
    z-index: 3; }
  .section-2 .find-job-wrap .student {
    position: absolute;
    top: 135px;
    left: 83px;
    width: 470px;
    height: 461px;
    z-index: 2; }
    .section-2 .find-job-wrap .student img {
      width: 100%; }
  .section-2 .find-job-wrap .yellow-shape {
    position: absolute;
    top: 0;
    width: 684px;
    height: 596px;
    z-index: 1; }
    .section-2 .find-job-wrap .yellow-shape img {
      width: 100%; }

.section-2 .find-helper-wrap {
  position: relative; }
  .section-2 .find-helper-wrap .find-helper-title {
    position: absolute;
    top: 190px;
    left: 190px;
    z-index: 3; }
  .section-2 .find-helper-wrap .boss-two {
    position: absolute;
    top: 320px;
    left: 83px;
    width: 299px;
    height: 276px;
    z-index: 2; }
    .section-2 .find-helper-wrap .boss-two img {
      width: 100%; }
  .section-2 .find-helper-wrap .green-shpae {
    position: absolute;
    width: 684px;
    height: 596px;
    z-index: 1; }
    .section-2 .find-helper-wrap .green-shpae img {
      width: 100%; }

.apply-section .apply-image-wrap {
  position: relative;
  z-index: 1; }
  .apply-section .apply-image-wrap .timer {
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 3;
    top: 60px;
    right: 280px; }
    .apply-section .apply-image-wrap .timer img {
      width: 100%; }
  .apply-section .apply-image-wrap .businessman {
    position: absolute;
    width: 359px;
    height: 507px;
    z-index: 2;
    top: -107px;
    left: 80px; }
    .apply-section .apply-image-wrap .businessman img {
      width: 100%; }
  .apply-section .apply-image-wrap .orang-shape {
    position: absolute;
    width: 805px;
    height: 400px;
    z-index: 1; }
    .apply-section .apply-image-wrap .orang-shape img {
      width: 100%; }

.apply-section .apply-content-warp {
  position: relative;
  z-index: 99; }

.review-section .review-image-wrap {
  position: relative;
  z-index: 1; }
  .review-section .review-image-wrap .text-rating {
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 3;
    top: 60px;
    right: 280px; }
    .review-section .review-image-wrap .text-rating img {
      width: 100%; }
  .review-section .review-image-wrap .people-phone {
    position: absolute;
    width: 359px;
    height: 507px;
    z-index: 2;
    top: -107px;
    left: 80px; }
    .review-section .review-image-wrap .people-phone img {
      width: 100%; }
  .review-section .review-image-wrap .yellow-shape-two {
    position: absolute;
    width: 805px;
    height: 400px;
    z-index: 1; }
    .review-section .review-image-wrap .yellow-shape-two img {
      width: 100%; }

@media (max-width: 992px) {
  .section-2 .find-helper-wrap {
    margin-top: 600px; } }

.arrow-indicator {
  text-align: center;
  -webkit-animation: scroll-arrow 1.5s ease both infinite;
          animation: scroll-arrow 1.5s ease both infinite; }
  .arrow-indicator:hover {
    opacity: 0.7; }
  .arrow-indicator img {
    width: 30px;
    height: 32px; }

@-webkit-keyframes scroll-arrow {
  0% {
    opacity: 0.8;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    opacity: 1;
    -webkit-transform: translateY(10px);
            transform: translateY(10px); }
  100% {
    opacity: 0.8;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes scroll-arrow {
  0% {
    opacity: 0.8;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    opacity: 1;
    -webkit-transform: translateY(10px);
            transform: translateY(10px); }
  100% {
    opacity: 0.8;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

footer {
  margin-top: 500px;
  background-color: #041d35; }
  footer ul {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    footer ul li {
      margin-right: 16px;
      list-style: none; }
      footer ul li a {
        font-size: 14px;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        color: rgba(255, 255, 255, 0.7); }
        footer ul li a:hover {
          color: white; }
  footer p {
    color: white;
    text-align: right;
    margin-bottom: 4px; }
    footer p:last-child {
      color: rgba(255, 255, 255, 0.8);
      font-weight: 400;
      font-size: 14px; }
