.gj-nav {
  background-color: white !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.03);
  padding: 16px 0; }
  .gj-nav .gj-logo-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3; }
    .gj-nav .gj-logo-wrap .logo {
      width: 40px;
      height: 40px;
      margin-right: 8px; }
      .gj-nav .gj-logo-wrap .logo img {
        width: 100%; }
    .gj-nav .gj-logo-wrap p {
      font-size: 28px;
      line-height: 40px;
      margin-bottom: 0;
      font-weight: bold;
      color: #084887; }

@media (max-width: 768px) {
  button {
    position: absolute;
    top: 16px;
    right: 16px; } }

@media (max-width: 576px) {
  .menu-wrap li {
    text-align: center; } }

* {
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI","Roboto","Ubuntu","Droid Sans","Ariel","Helvetica Neue","sans-serif"; }

.gj-nav li {
  margin-right: 4px; }

.gj-nav a {
  font-weight: bold;
  color: #084887 !important;
  border-radius: 3px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  letter-spacing: .5px;
  border: 1px solid transparent; }
  .gj-nav a:hover {
    background-color: #084887;
    color: white !important; }

.main-section h1 {
  text-align: right;
  font-size: 48px;
  color: #084887;
  font-weight: bold;
  margin-top: 16px;
  letter-spacing: 1px;
  text-shadow: 0 4px 20px rgba(0, 0, 0, 0.05); }

.main-section h2 {
  text-align: right;
  font-size: 32px;
  color: #084887;
  text-shadow: 0 4px 20px rgba(0, 0, 0, 0.05); }

body {
  background-color: rgba(0, 0, 0, 0.02); }

.padding-board {
  padding-top: 120px;
  padding-bottom: 120px; }

.main-section .section-1-people {
  position: relative;
  top: -72px;
  z-index: -1; }
  .main-section .section-1-people .boss-man {
    width: 202px;
    height: 373px;
    position: absolute;
    top: 108px;
    right: 90px;
    z-index: 4; }
    .main-section .section-1-people .boss-man img {
      width: 100%; }
  .main-section .section-1-people .boss-women {
    width: 176px;
    height: 323px;
    position: absolute;
    top: 157px;
    right: -28px;
    z-index: 3; }
    .main-section .section-1-people .boss-women img {
      width: 100%; }
  .main-section .section-1-people .people {
    width: 721px;
    height: 521px;
    position: absolute;
    left: 130px;
    top: 10px;
    z-index: 2; }
    .main-section .section-1-people .people img {
      width: 90%; }
  .main-section .section-1-people .bg-orange {
    width: 751px;
    height: 533px;
    position: absolute;
    top: 0;
    z-index: 1; }
    .main-section .section-1-people .bg-orange img {
      width: 90%; }

.main-section .section-1-content {
  position: relative;
  z-index: 5; }

.main-section .cta-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .main-section .cta-wrap .cta-box {
    width: 200px;
    height: 60px;
    margin-left: 16px;
    margin-top: 64px; }
    .main-section .cta-wrap .cta-box img {
      width: 100%;
      -webkit-box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
              box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
      border-radius: 28px; }

.main-section .arrow-indicator {
  position: absolute;
  bottom: 90px;
  right: 0;
  left: 0; }

.arrow-indicator {
  text-align: center; }
  .arrow-indicator img {
    width: 30px;
    height: 32px; }
