.btn-go-top
  width: 48px
  height: 48px
  font-size: 20px
  background-color: white
  box-shadow: 1px 4px 16px  rgba(0,0,0,0.15)
  border-radius: 30px
  color: $primary-color
  position: fixed
  font-weight: bold
  right: 24px
  bottom: 24px
  z-index: 50
  text-align: center
  line-height: 48px
  opacity: 0
  &:hover
    opacity: 1
    background-color: $primary-color
    text-decoration: none
    i
      color: white
.cd-top.cd-is-visible
  /* the button becomes visible */
  transition: all .3s
  opacity: 1

.cd-top.cd-fade-out
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 0.7
  transition: all .3s
  &:hover
    opacity: 1

.logo
  a:hover
    background-color: white

.arrow-indicator
  text-align: center
  animation: scroll-arrow 1.5s ease both infinite
  &:hover
    opacity: 0.7
  img
    width: 30px
    height: 32px

// more-btn
.section-2
  .find-job-title,.find-helper-title
    a
      display: inline-block
      padding: 12px 20px
      border-radius: 30px
      background-color: $primary-color
      box-shadow: 0 2px 16px rgba(0,0,0,0.15)
      transition: all .3s
      &:hover
        background-color: $primary-color-dark
      p
        font-size: 16px
        color: white
        display: inline-block
        margin-bottom: 0
        margin-right: 8px
      i
        color: white
        font-size: 20px
  .find-helper-title
    text-align: right



@keyframes scroll-arrow
  0%
    opacity: 0.8
    transform: translateY(0)
  50%
    opacity: 1
    transform: translateY(10px)
  100%
    opacity: 0.8
    transform: translateY(0)


#parallax-bg3
  z-index: 70
  position: fixed
  top: 0
  width: 940px
  #bg3-1
    position: absolute
    top: 580px
    left: 300px
    width: 70px
  #bg3-2
    position: absolute
    top: 560px
    left: 920px
    width: 76px
  #bg3-3
    position: absolute
    top: 1250px
    left: 180px
    width: 105px
  #bg3-4
    position: absolute
    top: 1200px
    left: 1100px
    width: 70px
  #bg3-5
    position: absolute
    top: 1660px
    left: 700px
    width: 75px
  #bg3-6
    position: absolute
    top: 2250px
    left: 1080px
    width: 96px
  #bg3-7
    position: absolute
    top: 2750px
    left: 180px
    width: 106px
  #bg3-8
    position: absolute
    top: 2900px
    left: 1180px
    width: 80px

#parallax-bg2
  z-index: 30
  position: relative
  left: 50%
  top: 0
  width: 1200px
  #bg2-1
    position: absolute
    left: -538px
    bottom: 600px

#parallax-bg1
  z-index: 20
  position: fixed
  width: 1200px
  #bg1-1
    position: absolute

// parallax rwd
@media (min-width: 992px)
  #bg2-1
    left: -538px
    bottom: 600px

@media (max-width: 576px)
  .arrow-indicator
    top: 600px
  #parallax-bg1
    #bg1-1
      top: -140px
  #parallax-bg2
    left: 0
  #parallax-bg3
    display: none
