body
  background-color: $bg-color
.padding-board-160
  padding-top: 160px
  padding-bottom: 160px
.padding-board-48
  padding-top: 48px
  padding-bottom: 48px

.main-section
  .section-1-people
    position: relative
    top: 0
    z-index: -1
    .boss-man
      width: 202px
      height: 373px
      position: absolute
      top: 108px
      right: 90px
      z-index: 4
      img
        width: 100%
    .boss-women
      width: 176px
      height: 323px
      position: absolute
      top: 157px
      right: -28px
      z-index: 3
      img
        width: 100%
    .people
      width: 721px
      height: 521px
      position: absolute
      left: 130px
      top: 10px
      z-index: 2
      img
        width: 90%
    .bg-orange
      width: 751px
      height: 533px
      position: absolute
      top: 0
      z-index: 1
      img
        width: 90%
  .section-1-content
    margin-top: 80px
    position: relative
    z-index: 5
  .cta-wrap
    display: flex
    justify-content: flex-end
    .cta-box
      width: 200px
      height: 60px
      margin-left: 16px
      margin-top: 48px
      transition: all .3s
      img
        width: 100%
        box-shadow: 0 6px 16px  rgba(0,0,0,0.15)
        border-radius: 28px
      &:hover
        transform: translateY(-5px)
  .arrow-indicator
    position: absolute
    bottom: 90px
    right: 0
    left: 0
