body
  background-color: $bg-color

.padding-board-160
  padding-top: 160px
  padding-bottom: 160px
.padding-board-48
  padding-top: 48px
  padding-bottom: 48px

// 第一區塊
.main-section
  .section-1-people
    position: relative
    top: 0
    z-index: -1
    .boss-man
      width: 202px
      height: 373px
      position: absolute
      top: 108px
      right: 90px
      z-index: 4
      img
        width: 100%
    .boss-women
      width: 176px
      height: 323px
      position: absolute
      top: 157px
      right: -28px
      z-index: 3
      img
        width: 100%
    .people
      width: 721px
      height: 521px
      position: absolute
      left: 130px
      top: 10px
      z-index: 2
      img
        width: 90%
    .bg-orange
      width: 751px
      height: 533px
      position: absolute
      top: 0
      z-index: 1
      img
        width: 90%
  .section-1-content
    margin-top: 80px
    position: relative
    z-index: 5
  .cta-wrap
    display: flex
    justify-content: flex-end
    .cta-box
      width: 200px
      height: 60px
      margin-left: 16px
      margin-top: 48px
      transition: all .3s
      img
        width: 100%
        box-shadow: 0 6px 16px  rgba(0,0,0,0.15)
        border-radius: 28px
      &:hover
        transform: translateY(-5px)
        opacity: .8

  .arrow-indicator
    position: absolute
    bottom: 50px
    right: 0
    left: 0

// 第二區塊
.section-2
  .find-job-wrap
    position: relative
    .find-job-title
      position: absolute
      top: 40px
      left: 148px
      z-index: 3
    .student
      position: absolute
      top: 135px
      left: 83px
      width: 470px
      height: 461px
      z-index: 2
      img
        width: 100%
    .yellow-shape
      position: absolute
      top: 0
      width: 684px
      height: 596px
      z-index: 1
      img
        width: 100%
  .find-helper-wrap
    position: relative
    .find-helper-title
      position: absolute
      top: 190px
      left: 190px
      z-index: 3
    .boss-two
      position: absolute
      top: 320px
      left: 83px
      width: 299px
      height: 276px
      z-index: 2
      img
        width: 100%
    .green-shpae
      position: absolute
      width: 684px
      height: 596px
      z-index: 1
      img
        width: 100%

// apply-section
.apply-section
  .apply-image-wrap
    position: relative
    z-index: 1
    .timer
      position: absolute
      width: 80px
      height: 80px
      z-index: 3
      top: 60px
      right: 280px
      img
        width: 100%
    .businessman
      position: absolute
      width: 359px
      height: 507px
      z-index: 2
      top: -107px
      left: 80px
      img
        width: 100%
    .orang-shape
      position: absolute
      width: 805px
      height: 400px
      z-index: 1
      img
        width: 100%
  .apply-content-warp
    position: relative
    z-index: 99

// review
.review-section
  .review-image-wrap
    position: relative
    z-index: 1
    .text-rating
      position: absolute
      width: 319px
      height: 147px
      z-index: 3
      top: 140px
      left: 150px
      img
        width: 100%
    .people-phone
      position: absolute
      width: 419px
      height: 299px
      z-index: 2
      top: 237px
      left: 89px
      img
        width: 100%
    .yellow-shape-two
      position: absolute
      width: 805px
      height: 400px
      z-index: 1
      bottom: -380px
      img
        width: 100%

//security-section
.security-section
  margin-top: 300px
  .security-image-wrap
    position: relative
    z-index: 1
    .iphone-screen
      position: absolute
      width: 252px
      height: 487px
      z-index: 2
      top: -50px
      right: 200px
      img
        width: 100%
    .icon-secure
      position: absolute
      width: 204px
      height: 148px
      z-index: 3
      top: 150px
      right: 80px
      img
        width: 100%
    .green-shpae-two
      position: absolute
      width: 666px
      height: 737px
      right: 50px
      z-index: 1
      bottom: -380px
      img
        width: 100%




// RWD setting

@media (max-width: 992px)
  .section-2
    .find-helper-wrap
      margin-top: 600px
