

.pop-img-sm
  display: none
  img
    width: 100%

// 找打工part
.full-bg
  display: none
  max-width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.6)
  color: white
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 128
  .slide-frame
    max-width: 1080px
    height: 650px
    background-color: white
    margin: 0 auto
    overflow: hidden
    margin-top: 64px
    position: relative
    .btn-cancel
      width: 40px
      height: 40px
      text-align: center
      font-size: 24px
      line-height: 40px
      position: absolute
      border-radius: 3px
      cursor: pointer
      top: 8px
      right: 8px
      z-index: 140
      transition: all .3s
      i
        color: $primary-color
      &:hover
        background-color: $primary-color
        i
          color: white
    .slide-img-wrap
      position: absolute
      z-index: 80
      display: flex
      transition: all .3s
      width: 3240px
      img
        width: 100%
    .sliding-left-animation
      animation: slide-left 6s ease both
    .sliding
      transform: translateX(0)
    .sliding-2
      transform: translateX(-1080px)
    .sliding-3
      transform: translateX(-2160px)
      .slide-img-1
        flex: 1
      .slide-img-2
        flex: 1
      .slide-img-3
        flex: 1
    .indicator-wrap
      position: absolute
      bottom: 32px
      z-index: 82
      width: 300px
      margin: 0 auto
      text-align: center
      left: 0
      right: 0
      .dot
        display: inline-block
        width: 12px
        height: 12px
        margin: 4px
        border-radius: 20px
        background-color: $orange
        transition: all .3s
        cursor: pointer
        border: 1px solid transparent
        &:hover
          background-color: $primary-color
      .dot-1-indicator
        animation: dot-1-indicator 6s linear both
        animation-fill-mode: backwards
      .dot-2-indicator
        animation: dot-2-indicator 6s linear both
      .dot-3-indicator
        animation: dot-3-indicator 6s linear both
      .dot-selected
        background-color: $primary-color !important


// 找幫手part
.full-bg-2
  display: none
  max-width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.6)
  color: white
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 128
  .slide-frame
    max-width: 1080px
    height: 650px
    background-color: white
    margin: 0 auto
    overflow: hidden
    margin-top: 64px
    position: relative
    .btn-cancel-2
      width: 40px
      height: 40px
      text-align: center
      font-size: 24px
      line-height: 40px
      position: absolute
      border-radius: 3px
      cursor: pointer
      top: 8px
      right: 8px
      z-index: 140
      transition: all .3s
      i
        color: $primary-color
      &:hover
        background-color: $primary-color
        i
          color: white
    .slide-img-wrap
      position: absolute
      z-index: 80
      display: flex
      transition: all .3s
      width: 3240px
      img
        width: 100%
    .sliding-left-animation-2
      animation: slide-left 6s ease both
    .sliding
      transform: translateX(0)
    .sliding-2
      transform: translateX(-1080px)
    .sliding-3
      transform: translateX(-2160px)
      .slide-img-1
        flex: 1
        img
          width: 100%
      .slide-img-2
        flex: 1
        img
          width: 100%
      .slide-img-3
        flex: 1
        img
          width: 100%
    .indicator-wrap
      position: absolute
      bottom: 32px
      z-index: 82
      width: 300px
      margin: 0 auto
      text-align: center
      left: 0
      right: 0
      .dot
        display: inline-block
        width: 12px
        height: 12px
        margin: 4px
        border-radius: 20px
        background-color: $orange
        transition: all .3s
        cursor: pointer
        border: 1px solid transparent
        &:hover
          background-color: $primary-color
      .dot-1-indicator
        animation: dot-1-indicator 6s linear both
        animation-fill-mode: backwards
      .dot-2-indicator
        animation: dot-2-indicator 6s linear both
      .dot-3-indicator
        animation: dot-3-indicator 6s linear both    
      .dot-selected
        background-color: $primary-color !important

// animation
@keyframes slide-left
  0%
    transform: translateX(0)
  25%
    transform: translateX(0)
  50%
    transform: translateX(-1080px)
    background-color: $primary-color
  75%
    transform: translateX(-1080px)
  100%
    transform: translateX(-2160px)
@keyframes dot-1-indicator
  0%
    background-color: $orange
  1%
    background-color: $primary-color
  25%
    background-color: $primary-color
  50%
    background-color: $orange
  100%
    background-color: $orange

@keyframes dot-2-indicator
  0%
    background-color: $orange
  25%
    background-color: $orange
  50%
    background-color: $primary-color
  75%
    background-color: $primary-color
  100%
    background-color: $orange

@keyframes dot-3-indicator
  0%
    background-color: $orange
  25%
    background-color: $orange
  50%
    background-color: $orange
  75%
    background-color: $orange
  100%
    background-color: $primary-color


// popup RWD

@media (max-width: 576px)
  .slide-frame
    width: 290px
    height: 420px !important
    .sliding
      transform: translateX(0) !important
    .sliding-2
      transform: translateX(-290px) !important
    .sliding-3
      transform: translateX(-580px) !important
    .slide-img-wrap
      width: 870px !important
      height: 420px
      .slide-img-1,.slide-img-2,.slide-img-3
        img
          width: 100%
      .pop-img-sm
        display: block
        img
          width: 100%
      .pop-img-lg
        display: none !important
    .indicator-wrap
      bottom: 16px !important
      .dot
        width: 40px !important
        height: 12px !important
        margin: 0 8px !important

  @keyframes slide-left
    0%
      transform: translateX(0)
    25%
      transform: translateX(0)
    50%
      transform: translateX(-290px)
    75%
      transform: translateX(-290px)
    100%
      transform: translateX(-580px)
