.gj-nav
  position: fixed
  width: 100%
  z-index: 999
  background-color: white !important
  border-bottom: 1px solid rgba(0,0,0,0.05)
  box-shadow: 0 4px 20px  rgba(0,0,0,0.03)
  padding: 16px 0
  .gj-logo-wrap
    display: flex
    flex-direction: row
    flex: 3
    .logo
      width: 40px
      height: 40px
      margin-right: 8px
      img
        width: 100%
    p
      font-size: 28px
      line-height: 40px
      margin-bottom: 0
      font-weight: bold
      color: $primary-color
  .menu-wrap
    // display: flex
    // flex-direction: row
    // justify-content: flex-end
  li
    margin-right: 4px
  a
    font-weight: bold
    color: $primary-color !important
    border-radius: 3px
    transition: all .3s
    letter-spacing: .5px
    border: 1px solid transparent
    // &:after
    //   content: ''
    //   display: block
    //   height: 4px
    //   width: 20%
    //   position: relative
    //   top: 25px
    //   border-radius: 20px
    //   background-color: white
    //   transition: all .2s
    &:hover
      width: 100%
      // background-color: $green
      background-color: $primary-color
      // border: 1px solid $primary-color
      color: white !important
nav
  .active-menu
    background-color: $primary-color
    border-radius: 3px
    a
      color: white !important
      cursor: default


@media (max-width: 992px)
  .gj-logo-wrap
@media (max-width: 768px)
  button
    position: absolute
    top: 16px
    right: 16px
@media (max-width: 576px)
  .menu-wrap
    li
      text-align: center
