@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css)

*
  font-family: "Noto Sans TC","-apple-system", "BlinkMacSystemFont", "Segoe UI","Roboto","微軟正黑體","Ubuntu","Droid Sans","Ariel","Helvetica Neue","sans-serif"

.main-section
  h1
    text-align: right
    font-size: 48px
    color: $primary-color
    font-weight: bold
    margin-top: 16px
    letter-spacing: 1px
    text-shadow: 2px 2px 2px  rgba(0,0,0,0.15)
  h2
    text-align: right
    font-weight: bold
    font-size: 32px
    color: $primary-color
    text-shadow: 2px 2px 2px  rgba(0,0,0,0.15)

.section-2
  height: 800px
  .find-job-title,.find-helper-title
    h3
      font-size: 40px
      color: white
      margin-bottom: 20px
      text-shadow: 0 2px 2px  rgba(0,0,0,0.2)

.apply-section
  .apply-content-warp
    .apply-icon
      height: 60px
      width: 60px
      img
        width: 100%
    h3
      font-size: 24px
      color: $orange
      line-height: 28px
    p
      font-size: 16px
      margin-bottom: 0
      line-height: 24px
      font-weight: 500
      color: #444
      // margin-top: 8px !important

.review-section
  .review-content-warp
    .apply-icon
      height: 60px
      width: 60px
      img
        width: 100%
    h3
      font-size: 24px
      color: $primary-color
      line-height: 28px
    p
      font-size: 16px
      margin-bottom: 0
      line-height: 24px
      font-weight: 500
      color: #444

.security-section
  .security-content-warp
    .apply-icon
      height: 60px
      width: 60px
      img
        width: 100%
    h3
      font-size: 24px
      color: $green
      line-height: 28px
    p
      font-size: 16px
      margin-bottom: 0
      line-height: 24px
      font-weight: 500
      color: #444

.download-section
  h3,h4
    text-align: center
    font-weight: bold
  h3
    font-size: 40px
    margin-bottom: 16px
  h4
    font-size: 32px
    color: #5b5b5b
    font-family: "Helvetica"
  .good-job-title
    padding-left: 8px
    font-size: 32px
    color: $orange

// RWD Setting
@media (max-width: 576px)
  .main-section
    h1
      text-align: center
      font-size: 26px
      margin-top: 16px
      font-weight: bold
    h2
      text-align: center
      font-size: 24px
      font-weight: bold
  .section-2
    .find-job-wrap
      .find-job-title
        h3
          font-size: 24px
          margin-bottom: 12px
  .download-section
    .download-contnet-wrap
      .good-job-title
        font-size: 24px
